@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    width: 100%;
    height: 100vh !important;
    background-image: url('https://cdn.wallpapersafari.com/7/32/ZvhbSK.gif');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    position: relative;
}

nav {
    background-color: #110d0a;
    padding: 30px;
}

nav img {
    width: 79px;
    height: 79px;
    border-radius: 50%;
    margin-left: 35px;
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 2;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: right;
    margin-left: 25px;
    margin-right: 20px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

nav li a::after {
    content: '';
    display: block;
    height: 2px;
    background: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s ease;
    width: 0;
}

nav li a:hover::after {
    width: 100%;
}

nav li a:hover {
    color: #ff0000; 
}

nav li a.active {
    color: #ff0000; 
}

.title {
    position: relative;
    top: 10%;
    left: 11.4%;
    width: 22%;
    height: 8%;
    border-radius: 13px;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid #110d0a;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.title h1{
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.menu {
    position: relative;
    top: 15%;
    left: 4%;
    width: 36%;
    height: 69%;
    border-radius: 13px;
    background-color: rgb(236, 255, 245);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid #110d0a;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.menuTitle{
    position: absolute;
    top: 5%;
    left: 37.5%;
    width: 25%;
    height: 9%;
    border-radius: 13px;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #110d0a;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.menuTitle h1{
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-align: center;
}

.fourbyfourMenu {
    position: absolute;
    top: 20%;
    left: 9%;
    width: 82.2%;
    height: 73%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 4px solid #110d0a;
    border-radius: 10px;
    object-fit: cover;
    align-content: start;
}

.fourbyfourMenu .box {
    position: relative;
    border: 2px solid #110d0a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

.fourbyfourMenu .box img {
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.fourbyfourMenu .box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease;
    z-index: 1;
}

.menuButton {
    cursor: pointer;
    width: 50%;
    height: 22%;
    border-radius: 9px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #110d0a;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 2;
}

.menuButton:hover {
    background-color: rgb(10, 34, 10); 
    color: white;
    transform: scale(1.06);
}

.fourbyfourMenu .box .overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease;
    z-index: 1;
}

.fourbyfourMenu .box .overlay h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 33px;
    color: rgb(10, 34, 10);
}

.orderForm {
    position: relative;
    top: -71%;
    left: 45%;
    width: 51%;
    height: 50%;
    border-radius: 13px;
    background-color: #ecfff5;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid #110d0a;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


.itemQuantity{
    position: absolute;
    top: 28%;
    left: 5%;
    width: 90%;
    height: 47%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: left;
}

.orderTitle{
    position: absolute;
    top: 7.5%;
    left: 4.8%;
    width: 30%;
    height: 14%;
    border-radius: 13px;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #110d0a;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.orderTitle h1{
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-align: center;
}

.box1{
    position: absolute;
    top: 0%;
    left: 1%;
    width: auto;
    height: auto;
    padding: 5px 30px;
    border-radius: 13px;
    background-color: #0a220a;
    color: white;
    z-index: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    border: 4px solid #110d0a;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.75);
}

.box2{
    position: absolute;
    top: 25%;
    left: 1%;
    width: auto;
    height: auto;
    padding: 5px 30px;
    border-radius: 13px;
    background-color: #0a220a;
    color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #110d0a;
    box-shadow: 4px 3px 4px 0px rgba(0,0,0,0.75);
}

.box3{
    position: absolute;
    top: 50%;
    left: 1%;
    width: auto;
    height: auto;
    padding: 5px 30px;
    border-radius: 13px;
    background-color: #0a220a;
    color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #110d0a;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.75);
}

.box4{
    position: absolute;
    top: 75%;
    left: 1%;
    width: auto;
    height: auto;
    border-radius: 13px;
    padding: 5px 30px;
    background-color: #0a220a;
    color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #110d0a;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.75);
}

.box1 h1, .box2 h1, .box3 h1, .box4 h1{
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    text-align: center;
}

.quantity{
    position: absolute;
    padding: 30px;
    box-shadow: -2px 0 0 0 rgba(44, 44, 44, 0.6), 2px 0 0 0 rgba(44, 44, 44, 0.6);
    top: 0%;
    left: 38%;
    width: 18%;
    height: 100%;
}

.add{
    position: absolute;
    left: 18%;
    width: auto;
    height: auto;
    border-radius: 13px;
    padding: 5px 10px;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #110d0a;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.75);
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: ease 0.1s;
}

.add:hover {
    background-color: #0a220a; 
    color: white;
    transform: scale(1.06);
}

#add1 {
    top: 0%;
}
#add2 {
    top: 25%;
}
#add3 {
    top: 50%;
}
#add4 {
    top: 75%;
}

.add:active{
    background-color: #193819; 
    color: white;
    transform: scale(0.96);
}

.minus{
    position: absolute;
    left: 53%;
    width: auto;
    height: auto;
    border-radius: 13px;
    padding: 5px 10px;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #110d0a;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.75);
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: ease 0.1s;
}

.minus:hover {
    background-color: #0a220a; 
    color: white;
    transform: scale(1.06);
}

#minus1 {
    top: 0%;
}
#minus2 {
    top: 25%;
}
#minus3 {
    top: 50%;
}
#minus4 {
    top: 75%;
}

.minus:active{
    background-color: #193819; 
    color: white;
    transform: scale(0.96);
}

.titles {
    position: absolute;
    top: 20%;
    left: 58%;
    width: 50%;
    height: 9%;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    z-index: 1;
    font-style: normal;
    font-size: 12.6px;
    color: #0a220a
}


.quantityBoxes {
    position: absolute;
    top: 28.5%;
    left: 59.3%;
    height: 47%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quantityBox {
    position: absolute;
    left: 0;
    width: 15%;
    height: 18%;
    border-radius: 13px;
    padding: 5px 10px;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #110d0a;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.75);
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
}

#quantity1 {
    top: 0%;
}
#quantity2 {
    top: 25%;
}
#quantity3 {
    top: 50%;
}
#quantity4 {
    top: 75%;
}

.priceBoxes {
    position: absolute;
    top: 28.5%;
    left: 71%;
    height: 47%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.priceBox {
    position: absolute;
    left: 0;
    width: 30%;
    height: 18%;
    border-radius: 13px;
    padding: 5px 10px;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #110d0a;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.75);
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
}

#price1 {
    top: 0%;
}
#price2 {
    top: 25%;
}
#price3 {
    top: 50%;
}
#price4 {
    top: 75%;
}


.total{
    position: absolute;
    box-shadow: 0px -1.5px 0 0 rgba(44, 44, 44, 0.6);
    top: 77.5%;
    left: 5%;
    width: 90%;
    height: 18%;
    padding: 10px;
}

.bill {
    position: absolute;
    top: 25%;
    left: 1%;
    width: 35%;
    height: 70%;
    border-radius: 13px;
    padding: 10px 20px;
    background-color: white;
    z-index: 1;
    display: flex;
    align-items: center;
    border: 4px solid #110d0a;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.bill h1 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    text-align: left;
}


.totalP {
    position: absolute;
    top: 25%;
    left: 65%;
    width: 35%;
    height: 70%;
    border-radius: 13px;
    padding: 10px 20px;
    background-color: white;
    z-index: 1;
    display: flex;
    align-items: center;
    border: 4px solid #110d0a;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.totalP h1 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    text-align: left;
}

.totalPrice {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: left;
    margin-left: 7px;
}

.totalqty {
    position: absolute;
    top: 5%;
    left: 88%;
    width: 7%;
    height: 13%;
    border-radius: 13px;
    padding: 10px;
    background-color: white;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #110d0a;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}

.biocup {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    left: 87%;
    top: 29%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 20px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #0a220a;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



.customerInfo {
    position: relative;
    top: -66.5%;
    left: 45%;
    width: 27%;
    height: 33%;
    border-radius: 13px;
    background-color: #ecfff5;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid #110d0a;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.infoTitle {
    position: absolute;
    top: 5%;
    left: 19%;
    width: 58%;
    height: 24%;
    border-radius: 13px;
    padding: 10px 20px;
    background-color: white;
    z-index: 1;
    display: flex;
    align-items: center;
    border: 4px solid #110d0a;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.infoTitle h1{
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}

.name {
    position: absolute;
    top: 35%;
    left: 9.7%;
    width: 80%;
    height: 17%;
    border-radius: 13px;
    padding: 10px 20px;
    background-color: white;
    z-index: 1;
    display: flex;
    align-items: center;
    border: 4px solid #110d0a;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.name h1 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: left;
}

.address {
    position: absolute;
    top: 75%;
    left: 9.7%;
    width: 80%;
    height: 17%;
    border-radius: 13px;
    padding: 10px 20px;
    background-color: white;
    z-index: 1;
    display: flex;
    align-items: center;
    border: 4px solid #110d0a;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.address h1 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: left;
}

.phone {
    position: absolute;
    top: 55%;
    left: 9.7%;
    width: 80%;
    height: 17%;
    border-radius: 13px;
    padding: 10px 20px;
    background-color: white;
    z-index: 1;
    display: flex;
    align-items: center;
    border: 4px solid #110d0a;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.phone h1 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: left;
}

.infoInput {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-size: 20px;
}

.billInput {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

input[type="text"] {
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;  
    text-align: left;
    padding: 5px;
}

input[type="text"]::placeholder {
    color: #cfcfcf; 
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
}

input[type="text"]:focus::placeholder {
    color: transparent;
}

input[type="text"]:focus {
    outline: none;
    border: none;
}



.orderSummary {
    position: relative;
    top: -99.4%;
    left: 75%;
    width: 20%;
    height: 33%;
    border-radius: 13px;
    background-color: rgb(236, 255, 245);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid #110d0a;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.orderSummary h1 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    text-align: center;
}

#placeOrder {
    position: absolute;
    top: 70%;
    left: 14.3%;
    width: 70%;
    height: 20%;
    border-radius: 13px;
    padding: 10px 15px;
    background-color: white;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #110d0a;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}

#placeOrder:hover {
    background-color: #0a220a; 
    color: white;
    transform: scale(1.06);
}

#placeOrder:active{
    background-color: #193819; 
    color: white;
    transform: scale(0.96);
}

#placeOrder:disabled {
    background-color: #cfcfcf;
    cursor: not-allowed;
}

#placeOrder:disabled:hover {
    background-color: #cfcfcf;
    transform: scale(1);
}

input:disabled {
    background: #cfcfcf;
    cursor: not-allowed;
}

.totalSum {
    position: absolute;
    display: flex;
    top: 12%;
    width: 50%;
    left: 20%;
}

.totalCash {
    position: absolute;
    display: flex;
    top: 24%;
    width: 50%;
    left: 20%
}

.divider {
    position: absolute;
    top: 36%;
    left: 8%;
    width: 90%;
    height: 20%;
}

.totalChange {
    position: absolute;
    display: flex;
    top: 47%;
    width: 50%;
    left: 20%
}

.totalSum h1 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
}

.totalCash h1 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
}

.totalChange h1 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
}

.totalSum .totalPrice {
    position: absolute;
    top: 9%;
    left: 84%;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-size: 21px;
    text-align: right;
}

.cash {
    position: absolute;
    top: 9%;
    left: 88%;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-size: 20px;
    font-style: normal;
}

.change {
    position: absolute;
    top: 9%;
    left: 88%;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-size: 20px;
    font-style: normal;
}


.footer {
    width: 100%;
    height: 24vh !important;
    position: relative;
    background-color: #110d0a;
}

.footer .hotline {
    position: absolute;
    padding: 40px;
    padding-top: 90px;
    padding-bottom: 20px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    left: 3%;
}

.footer .hotline h1 {
    font-weight: 20px;
    font-size: 26px;
    font-style: normal;
    color: #ecfff5;
    margin-bottom: 9px;
}

.footer .hotline p {
    font-weight: 20px;
    color: #ecfff5;
    font-size: 18px;
}

.footer .footerContent {
    position: absolute;
    padding: 40px;
    padding-top: 115px;
    padding-bottom: 20px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;   
    left: 37.5%;
}

.footer .footerContent p {
    font-weight: 20px;
    font-size: 18px;
    font-style: normal;
    color: #ecfff5;
    text-align: center;
}

.footer .terms {  
    position: absolute;
    padding: 40px;
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    left: 77%;
}

.footer .terms h1 {
    font-size: 26px;
    font-weight: 20px;
    font-style: normal;
    color: #ecfff5;
    margin-bottom: 13px;
}

.footer .terms p {
    font-size: 16px;
    margin-top: 8px;
    font-weight: 15px;
    font-style: normal;
    color: #ecfff5;
    position: relative; 
}

.footer .terms p:hover {
    color: red;
    cursor: pointer;
    text-decoration: underline;
    transition: 0.3s ease;
}


