@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    width: 100%;
    height: 100vh !important;
    background-image: url('https://cdn.wallpapersafari.com/7/32/ZvhbSK.gif');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    position: relative;
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center;
}


.bgmap {
    width: 92%;
    height: 92%;
    background: #ecfff5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #110d0a;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    border-radius: 13px;
}

#map {
    height: 90%;
    width: 94%;
    border-radius: 13px;
    border: 1px solid #110d0a;
}
